<% if flash[:notice] %>
<p> <%= flash[:notice] %></p>
<% end %>

<h2>User info</h2>
<%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', fallback: "img/no-image.jpg" , :size => "100x100" %>

<table class="table table-striped">
<tr>
<th class="col-xs-4">name</th>
<th class="col-xs-8"><%= user.name %></th>
</tr>
<tr>
<th><p>introduction</p></th>
<th><%= user.introduction %></th>
</tr>
</table>

<%= link_to "", edit_user_path(user.id), class: "edit_user_#{current_user.id} btn btn-default glyphicon glyphicon-cog col-xs-12"  %>

<h2>New book</h2>
<%= form_for(book) do |f| %>

<% if book.errors.any? %>
<%= book.errors.count %>件のエラーが発生しました
<% book.errors.full_messages.each do |message| %>
	<%= message %>
<% end %>
<% end %>


<p>Title</p>
<%= f.text_field :title, class: "books_title" %>

<p>Opinion</p>
<%= f.text_area :opinion, class: "book_body" %>
<br>
<%= f.submit 'Create Book', class: "btn btn-success" %>

<% end %>